body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #272222;
}

p {
    margin-bottom: 35px;
    color: #daadad;
}

#top {
    background-image: url(./img/top-banner-removebg-preview.png);
    background-repeat: no-repeat;
}

#top .half-width {
    padding: 5px 70px;
}

.crimson-color {
    color: crimson;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.container img {
    width: 80%;
    padding-left: 40px;
    padding-top: 25px;
}

.description h1{
    font-size: 50px;
}

.anchor-button {
    text-transform: uppercase;
    background: linear-gradient(lightblue, crimson);
    text-decoration: none;
    color: white;
    padding: 10px 45px;
    border-radius: 5px;
    font-weight: 500;
}

.half-width {
    width: 50%;
}

#mid {
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#bottom .container {
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    margin-right: 4%;
}

.hadding {
    font-size: 50px;
    margin-left: 65px;
}

#bottom .description h1 {
    font-size: 35px;
}

#bottom .description h3 {
    font-size: 20px;
    color: crimson;
}

#bottom .half-width {
    margin-left: 5%;
    padding: 5%;
    box-shadow: 5px 7px 40px #01ffd07d;
}

#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, crimson , lightsalmon);
    border-image-slice: 1;
}

#junior-web {
    border-left: 5px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

footer {
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        /* margin-bottom: 100px; */
    }
    #top .half-width {
        padding: 5px 35px;
        margin-left: -15px;
    }
    .half-width {
        width: 100%;
    }
    p {
        padding-right: 8%;
    }
    #top img {
        width: 80%;
        padding-left: 0px;
        padding-top: 50px;
    }
    .description h1 {
        font-size: 40px;
    }
    #mid .half-width.description {
        margin-left: 15px;
    }
    .hadding {
        font-size: 40px;
        margin-left: 15px;
    }
    #bottom .half-width {
        margin-left: 4%;
        margin-bottom: 5%;
        padding: 2%;
        box-shadow: 5px 7px 40px grey;
        width: 90%;
    }
}